@charset 'UTF-8';

@font-face {
    font-family: lotr;
    src: url(hobbitonbrushhand.ttf);
}

h1 {
	text-align: center;
	font-size: 3vw;
	font-weight: normal;
}

h1, h2 {
	font-family: 'Bitter';
}

span.drop-cap { 
	float: left; 
	color: black; font-size: 7em; 
	line-height: 0.9em; 
	padding: 0 0.2em 0 3px; 
	font-family: 'Bitter', Arial, sans-serif; 
}

body {
	font-size: 1.5vw;
	font-family: 'Roboto', Arial, sans;
	margin: 0 0;
	padding: 0 0;
	background-image: url(../img/background.png);
	background-repeat: repeat;
	height: 100%;
}

p {
	line-height: 1.3em;
    font-size: 1.2em;
	font-weight: lighter;
	text-align: justify;
}

a:link, a:visited, a:hover, a:active {
	color: #88614c;
}

img.drop-cap {
	height: 5em;
	padding-right: 1em;
	padding-bottom: 0.5em;
}

img.icon {
	max-height: 4em;
	max-width: 7em;
	float: left;
	margin: 0 0.7em 0 0.5em;
}

img.icon[src*="meditation"] {
	max-height: 6em;
}

#main-div {
	background-color: #F7F7FF;
	margin: 0 auto;
	width: 60%;
	padding: 0 10%;
	min-height: 100%;
}

#backup-menu li {
	display: table-cell;
	text-align: center;
}

#backup-menu a, #backup-menu a:hover, #backup-menu a:visited, #backup-menu a:link, #backup-menu a:active {
	color: black;
	text-decoration: none;
}

#backup-menu img {
	height: 90px;
}

#dock ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
	text-align: center;
}

#dock li {
    display: inline;
}

#dock li a {
	font-family: 'Roboto', Arial, sans-serif;
	font-weight: bold;
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#dock li a:hover {
    background-color: #112;
}

#dock a, a:visited { 
	outline: none 
}
#dock img {
	border: none;
}

.dock {
	position: relative; 
	height: 90px; 
	text-align: center;
}
.dock-container {
	position: absolute;
	height: 90px;
}
a.dock-item {
	display: block;
	width: 80px;
	color: #777;
	position: absolute;
	top: 0px;
	text-align: center;
	text-decoration: none;
	font-family: 'Roboto', Arial, sans-serif;
	font-weight: bold;
}
.dock-item img {
	border: none;
	width: 100%; 
}
.dock-item span {
	display: none;
	padding-top: 5px;
}

#pictures {
	max-height: 60%;
}

#picture li button:before {
	font-size: 10px;
}

#picture img {
	margin: auto;
	max-height: 60%;
	max-width: 70%;
	border: 1px #444 solid;
}

.carousel {
	margin: auto;
	width: 45vw;
}

.carousel img {
	margin: auto;
	max-height: 600px;
	height: 25vw;
	border: solid #333 1px;
}

#footer {
    margin: auto;
    padding: 20px;
    width: 18vw;
	text-align: center;
	font-size: 1vw;
}

#footer span {
	display: inline-block;
	text-align: center;
	padding-bottom: 2px;
}

#footer-carousel {
	border-bottom: 1px black solid;
	border-top: 1px black solid;
}

#footer img {
	margin: auto;
	height: 4vw;
}

#footer img[src*="jquery"] {
	height: 40px;
	padding-top: 12px;
}

#footer img[src*="gfont"] {
	height: 40px;
	padding-top: 12px;
}
