body {
  font-family: Roboto, sans-serif;
  font-size: large;
  color: #3f726e;
  background-color: #dfffef;
}

h1 {
  font-family: Cookie, serif;
  text-align: center;
}

h2 {
  font-family: Cookie, serif;
  font-size: 5vw;
}

p {
  padding: 0 10vw;
  text-align: justify;
}

div#menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 60px;
  text-align: center;
  font-size: large;
  background-color: white;
  border-bottom: solid 2px #bfd2ce;
}

div#menu > a {
  padding: 0 45px;
  line-height: 60px;
}

div#splash {
  margin-top: 60px;
  text-align: center;
  color: #1c3331;
  font-size: x-large;
  background-image: url(../img/sunset.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 100%;
  height: 35vw;
}

div#splash > h1 {
  padding-top: 8vw;
  font-size: 8vw;
}

div#splash i {
  padding-top: 2vw;
  font-size: 50px;
  color: #1c3331;
}

a, a:visited, a:active, a:hover, a:focus {
  text-decoration: none;
	color: #3f726e;
}

img[src*=anne] {
  padding: 5px 20px 10px 0;
  float: left;
  max-height: 300px;
  height: 15vw;
}
